<div class="col-md-3"><%= render 'layouts/left_sidebar' %></div>
<div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-10">
      <article role="article" class="node node--page node--full node--page--full">
        <div class="node__content">
          <div class="field--body">
            <% @title="О МАГАЗИНЕ" %>
            <%= @about.content.html_safe %>
          </div>
        </div>
      </article>
    </div>
    </div>
</div>
</div>
<div class="col-md-3"><%= render 'layouts/right_sidebar' %></div>