<div class="col-md-3"><%= render 'layouts/left_sidebar' %></div>
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-md-10">
        <div class="node__content">
          <div class="field--body">
            <% provide(:title, @page.title) %>
            <h1><%= @page.title %></h1>
            <%= @page.content.html_safe %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-3"><%= render 'layouts/right_sidebar' %></div>