@import "bootstrap";

body {
  background: #E6E9F3 url('background.png');
  background-size: 70px;
  font: 14px/1.2 Arial, sans-serif;
}
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }
}
.custom-title {
  background: url('box_top.png') repeat-x;
  color: #000000;
  font: bold 14px Arial,Helvetica,serif;
  text-transform: uppercase;
  padding: 0 0 0 10px;
  @include border-top-radius(10px);
  margin: 0;
  overflow: hidden;
  height: 29px;
  line-height: 30px;
  border: 1px solid #ddd;
  background-position-y: -1px;
}
.default-title {
  font: normal 14px Arial,Helvetica,serif;
  text-transform: capitalize;
}
.default-text {
  font: 12px/1.5 Arial,Helvetica,serif;
  color: #000;
}
.nav-custom {
  padding-left: 10px;
}
.catalog-title {
  color: #233C5E;
  font: bold 12px Arial,Helvetica,serif;
}
.catalog-subtitle {
  color: #233C5E;
  font: normal 12px Arial,Helvetica,serif;
  padding-left: 15px;
}
.default-subtitle {
  margin: 5px auto;
}
.panel {
  @include border-top-radius(10px);
  @include border-bottom-radius(10px);
  padding-bottom: 20px;
}
.default-width {
  width: 100%;
  max-width: 100%;
}
.custom-link {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
.primary-link {
  color:#000;
  font: {
    family: Georgia, 'Times New Roman', Times, serif;
    style: italic;
    size: 18px;
  }
}
iframe {
  border: none;
  overflow: hidden;
  width: 250px;
  height: 300px;
}
.default-margin {
  margin-top: 20px;
}
.custom-margin {
  margin: {
    top: 20px;
    bottom: 20px;
  }
}
.primary-padding {
  padding: {
    top: 5px;
    bottom: 5px;
  }
}
.header-margin {
  margin-top: 15px;
  .navbar {
    min-height: inherit;
  }
  .navbar-custom {
    margin: 10px 0;
    background: url('header.png') repeat-x;
    border-right: 2px solid #44789D;
    border-left: 2px solid #44789D;
    height: 42px;
    .nav {
      li {
        a {
          line-height: 15px;
          color: #FFFEEE;
          font: 600 14px Verdana,Geneva,sans-serif;
          padding-top: 11px;
          padding-bottom: 11px;
          &:hover {
            color: #333;
            background-color: inherit;
          }
        }
      }
    }
    .navbar-form {
      margin-top: 3px;
    }
  }
}