<p>Здраствуйте, <%= @resource.email %>!</p>

<p> Кто-то запросил ссылку, чтобы изменить пароль. Вы можете сделать это через ссылку ниже</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token), class: 'btn btn-default' %></p>

<p>Если вы не запрашивали этого, пожалуйста, проигнорируйте это письмо.</p>
<p>Ваш пароль не будет меняться до тех пор, пока не будет получен доступ к ссылке и не создасться новый пароль</p>
