<div class="block__content">
  <div style="text-align: center;">
    <a href="http://www.maranatha.org.ua/"><img alt="Маранафа: Библия, словарь, каталог сайтов, форум, чат и многое другое." src="http://www.maranatha.org.ua/counter/counter.php?id=9469" style="height:31px; width:88px"></a>
    <a href="http://www.stat24.meta.ua" target="_blank"><img src="http://stat24.meta.ua/img/counter/9.gif"></a>
    <a href="http://www.i.ua/" onclick="this.href='http://i.ua/r.php?105182';" target="_blank" title="Rated by I.UA">
      <img src="http://r.i.ua/s?u105182&amp;p62&amp;l1" style="height:31px; width:88px"></a>
    <a href="http://www.bible.com.ua/"><img alt="Твоя Библия: Библия, ответы на вопросы, христианская библиотека." src="http://www.bible.com.ua/i/catalog.gif" style="height:31px; width:88px"></a>
  </div>
  <p style="text-align: center;">© CopyRight 2014 Missionswerk FriedensBote e.V.</p>
  <div class="ym-counter">
    <!-- Yandex.Metrika informer -->
    <a href="http://metrica.yandex.com/stat/?id=21295435&amp;from=informer" target="_blank" rel="nofollow">
      <img src="//bs.yandex.ru/informer/21295435/3_1_FFFFFFFF_EFEFEFFF_0_pageviews" style="width:88px; height:31px; border:0;" alt="Yandex.Metrica" title="Yandex.Metrica: data for today (page views, visits and unique visitors)" onclick="try{Ya.Metrika.informer({i:this,id:21295435,lang:'en'});return false}catch(e){}">
    </a>
    <!-- /Yandex.Metrika informer --><!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter21295435 = new Ya.Metrika({id:21295435, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript>&lt;div&gt;&lt;img src="//mc.yandex.ru/watch/21295435" style="position:absolute; left:-9999px;" alt="" /&gt;&lt;/div&gt;
  </noscript>
    <!-- /Yandex.Metrika counter -->
  </div>
</div>