<div class="block__content">
  <div style="text-align: center;">
    <a href="http://www.maranatha.org.ua/"><img alt="Маранафа: Библия, словарь, каталог сайтов, форум, чат и многое другое." src="http://www.maranatha.org.ua/counter/counter.php?id=9469" style="height:31px; width:88px"></a>
    <a href="http://www.stat24.meta.ua" target="_blank"><img src="http://stat24.meta.ua/img/counter/9.gif"></a>
    <a href="http://www.i.ua/" onclick="this.href='http://i.ua/r.php?105182';" target="_blank" title="Rated by I.UA">
      <img src="http://r.i.ua/s?u105182&amp;p62&amp;l1" style="height:31px; width:88px"></a>
    <a href="http://www.bible.com.ua/"><img alt="Твоя Библия: Библия, ответы на вопросы, христианская библиотека." src="http://www.bible.com.ua/i/catalog.gif" style="height:31px; width:88px"></a>
  </div>
  <p style="text-align: center;">© CopyRight 2014 Missionswerk FriedensBote e.V.</p>
</div>