<div class="col-md-13" id="leftCol">
    <div class="well">
     <h3>Каталог</h3>
      <ul class="nav nav-stacked" id="sidebar">
        <% @categories.each do |category| %>
        <li class="active"><h4><%= link_to category.title, view_category_path(slug: category.slug) %></h4></li>
            <% category.sub_categories.each  do |sub_category| %>
                <li><h5><%= link_to sub_category.title, view_sub_category_path(slug: sub_category.slug) %></h5></li>
            <% end %>
        <% end %>
      </ul>
    </div>
    <div class="well">
      <div class="block__content">
        <p><a style="width: 100%; display: block; text-align: center;" href="http://www.friedensbote.org" title="истинно говорю вам: так как вы сделали это одному из сих братьев Моих меньших, то сделали Мне"><img style="max-width: 100%;" src="http://www.verlag-friedensbote.de/images/b/160600-01-ru.jpg" alt="истинно говорю вам: так как вы сделали это одному из сих братьев Моих меньших, то сделали Мне"></a></p>
      </div>
    </div>
</div>