<div class="col-md-13" id="rightCol">
  <div class="panel panel-default">
    <h4 class="custom-title">Связаться с нами в Skype</h4>
      <p><%= image_tag('skype.png', alt: 'skype', class: 'default-width') %></p>
      <ul class="skype-actions text-center list-inline list-unstyled">
        <li><%= link_to 'Позвонить', 'skype:friedensbote.books?call', class: 'custom-link' %></li>
        <li><%= link_to 'Написать', 'skype:friedensbote.books?chat', class: 'custom-link' %></li>
      </ul>
  </div>
  <div class="panel panel-default">
    <h4 class="custom-title">Найдите нас на Facebook</h4>
    <div class="text-center">
      <iframe frameborder="0" scrolling="no" src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Ffriedensbote&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false"></iframe>
    </div>
  </div>
  <div class="panel panel-default">
    <h4 class="custom-title">Случайный стих</h4>
    <div class="text-center">
      <p>
        <%= link_to 'Случайный стих из Библии', 'http://allbible.info', title: 'Библия онлайн. Подкрепись!', class: 'custom-link primary-link' %>
      </p>
      <iframe id="randomVerseIframe" src="http://allbible.info/ajax/randomverse/" title="Подкрепись! Библия онлайн." frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
</div>